This uses the example Chinook database.
To set it up follow the instructions on https://database.guide/2-sample-databases-sqlite/, placing the `.db` file in a notebooks folder at the root of this repository.

In [1]:
from langchain import OpenAI, SQLDatabase, SQLDatabaseChain

In [2]:
db = SQLDatabase.from_uri("sqlite:////Users/harrisonchase/Downloads/chembl_31/chembl_31_sqlite/chembl_31.db")
llm = OpenAI(temperature=0)
db_chain = SQLDatabaseChain(llm=llm, database=db)

In [18]:
db.n = 43

In [20]:
db_chain.query("Which tables should I look at to determine how many cruzi-pain inhibiting compounds are there?")

 SELECT COUNT(DISTINCT molregno)
FROM activities
WHERE standard_type = 'EC50'
AND standard_units = 'uM'
AND relation = '='
AND value <= 100
[(0,)]

' 0'

In [6]:
print(db.table_info)

The 'action_type' table has columns: action_type (VARCHAR(50)), description (VARCHAR(200)), parent_type (VARCHAR(50)).
The 'activities' table has columns: activity_id (BIGINT), assay_id (BIGINT), doc_id (BIGINT), record_id (BIGINT), molregno (BIGINT), standard_relation (VARCHAR(50)), standard_value (NUMERIC), standard_units (VARCHAR(100)), standard_flag (SMALLINT), standard_type (VARCHAR(250)), activity_comment (VARCHAR(4000)), data_validity_comment (VARCHAR(30)), potential_duplicate (SMALLINT), pchembl_value (NUMERIC(4, 2)), bao_endpoint (VARCHAR(11)), uo_units (VARCHAR(10)), qudt_units (VARCHAR(70)), toid (INTEGER), upper_value (NUMERIC), standard_upper_value (NUMERIC), src_id (INTEGER), type (VARCHAR(250)), relation (VARCHAR(50)), value (NUMERIC), units (VARCHAR(100)), text_value (VARCHAR(1000)), standard_text_value (VARCHAR(1000)).
The 'activity_properties' table has columns: ap_id (BIGINT), activity_id (BIGINT), type (VARCHAR(250)), relation (VARCHAR(50)), value (NUMERIC), units (VARCHAR(100)), text_value (VARCHAR(1000)), standard_type (VARCHAR(250)), standard_relation (VARCHAR(50)), standard_value (NUMERIC), standard_units (VARCHAR(100)), standard_text_value (VARCHAR(1000)), comments (VARCHAR(4000)), result_flag (SMALLINT).
The 'activity_smid' table has columns: smid (BIGINT).
The 'activity_stds_lookup' table has columns: std_act_id (BIGINT), standard_type (VARCHAR(250)), definition (VARCHAR(500)), standard_units (VARCHAR(100)), normal_range_min (NUMERIC(24, 12)), normal_range_max (NUMERIC(24, 12)).
The 'activity_supp' table has columns: as_id (BIGINT), rgid (BIGINT), smid (BIGINT), type (VARCHAR(250)), relation (VARCHAR(50)), value (NUMERIC), units (VARCHAR(100)), text_value (VARCHAR(1000)), standard_type (VARCHAR(250)), standard_relation (VARCHAR(50)), standard_value (NUMERIC), standard_units (VARCHAR(100)), standard_text_value (VARCHAR(1000)), comments (VARCHAR(4000)).
The 'activity_supp_map' table has columns: actsm_id (BIGINT), activity_id (BIGINT), smid (BIGINT).
The 'assay_class_map' table has columns: ass_cls_map_id (BIGINT), assay_id (BIGINT), assay_class_id (BIGINT).
The 'assay_classification' table has columns: assay_class_id (BIGINT), l1 (VARCHAR(100)), l2 (VARCHAR(100)), l3 (VARCHAR(1000)), class_type (VARCHAR(50)), source (VARCHAR(50)).
The 'assay_parameters' table has columns: assay_param_id (BIGINT), assay_id (BIGINT), type (VARCHAR(250)), relation (VARCHAR(50)), value (NUMERIC), units (VARCHAR(100)), text_value (VARCHAR(4000)), standard_type (VARCHAR(250)), standard_relation (VARCHAR(50)), standard_value (NUMERIC), standard_units (VARCHAR(100)), standard_text_value (VARCHAR(4000)), comments (VARCHAR(4000)).