In [2]:
from langchain.sql_database import SQLDatabase
from langchain.chains.sql_database.base import DatabaseChain
from langchain import OpenAI

In [3]:
db = SQLDatabase("sqlite:///../notebooks/Chinook.db")
llm = OpenAI(temperature=0)
db_chain = DatabaseChain(llm=llm, database=db)

In [5]:
db.engine.dialect.name

'sqlite'

In [4]:
db_chain.query("How many employees are there?")

 SELECT COUNT(*) as 'Number of Employees' FROM Employee
[(8,)]

' There are 8 employees.'